
# note :: important : read this
# -----------------------------------------------------------------------------------------------------------------------------
# the directives expressed in this file are compatible with shared hosting and crucial to security -and framework integrity
# the objective is to provide a fast/solid/stable runtime environment that compliments the designated PHP framework
# here we are in "the mud" .. we don't even know if we can get out of here, keep calm, let's see if PHP is enabled
# -----------------------------------------------------------------------------------------------------------------------------



# conf :: main : primary config for security & compatibility
# -----------------------------------------------------------------------------------------------------------------------------
   Options           -Indexes -Multiviews
   ServerSignature   Off
   DefaultLanguage   en-US
   AddDefaultCharset UTF-8
   # ServerTokens      Prod   # set this in the apache/vhost config
# -----------------------------------------------------------------------------------------------------------------------------



# head :: security : try these, if some don't work, it's fine, we'll get 'em in PHP
# -----------------------------------------------------------------------------------------------------------------------------
   <IfModule mod_headers.c>
      Header unset Strict-Transport-Security
      Header set Strict-Transport-Security "max-age=0;includeSubDomains"
      Header unset X-Powered-By
      Header unset Server
   </IfModule>
# -----------------------------------------------------------------------------------------------------------------------------



# cond :: flow : detect Apache 2.4 and detect PHP, if found then redirect all requests to the PHP handler, else fail gracefully
# -----------------------------------------------------------------------------------------------------------------------------
   <IfModule mod_rewrite.c>
      RewriteEngine On
      RewriteBase /

      RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
      RewriteRule ^ %{REQUEST_SCHEME}://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

      RewriteRule .* - [E=DBUGPATH:.anon.dir/Proc/dbug.htm]
      RewriteRule .* - [E=BOTMATCH:bot|crawl|fetch|find|grab|scan|search|site|slurp|spider|wget|curl]

      <IfModule mod_php_null.c>
         RewriteRule .* - [E=MODPHP:1]
      </IfModule>
      <IfModule mod_php5.c>
         RewriteRule .* - [E=MODPHP:1]
      </IfModule>
      <IfModule mod_php7.c>
         RewriteRule .* - [E=MODPHP:1]
      </IfModule>

      <IfModule mod_authz_core.c>
         <If "%{ENV:REDIRECT_MODPHP} =1">
            php_value expose_php          Off
            php_value short_open_tag      On
            php_value display_errors      On
            php_value max_execution_time  60
            php_value default_charset     UTF-8
         </If>

         RewriteCond %{ENV:MODPHP} ^1$
         RewriteCond %{DOCUMENT_ROOT}/.anon.php -f
         RewriteRule ^(.*)$ .anon.php [L]
      </IfModule>

      RewriteCond %{HTTP_USER_AGENT} %{ENV:BOTMATCH} [NC,OR]
      RewriteCond %{DOCUMENT_ROOT}/%{ENV:DBUGPATH} !-f
      RewriteRule ^ - [R=503,L,S=1]
      RewriteRule ^(.*)$ %{ENV:DBUGPATH} [L]
   </IfModule>
# -----------------------------------------------------------------------------------------------------------------------------
# if the above conditions and redirects worked, then we are out of "the mud" now we proceed through "the swamp"
# -----------------------------------------------------------------------------------------------------------------------------



# cond :: dbug : if the above code failed, then we don't want to expose anything
# -----------------------------------------------------------------------------------------------------------------------------
   <IfModule !mod_rewrite.c>
      <IfModule mod_authz_core.c>
         Require all denied
      </IfModule>
      <IfModule !mod_authz_core.c>
         Order deny,allow
         Deny from all
      </IfModule>
   </IfModule>
# -----------------------------------------------------------------------------------------------------------------------------
