#CodePanlSlab
{
   overflow:hidden;
}

#CodeMainGrid
{
   width:100%, height:100%;
}

#CodeViewGrid
{
   width:100%, height:100%;
}




#CodeTreeView
{
   position:relative !important;
}

#CodeTreePanl
{
   position:absolute !important;
   width:100% !important;
   height:100% !important;
}




#CodeBodyView>col
{
   position:relative
}

#CodeBodyPanl
{
   position:absolute !important;
   width:100% !important; height:100% !important;
   overflow:hidden !important;
}




.CodeEditWrap
{
   position:absolute;
   width:100%; height:100%;
   font-size:11px;
   line-height:15px;
   background:none;
   overflow:hidden;
}




#CodeToolView
{
   background:hsla(0,0%,0%,0.1);
}

/* #CodeToolView.show {height:98px !important;} */
#CodeToolView.show {height:90px !important;}
#CodeToolView.hide {height:0.1px !important;}
#CodeToolView>col {position:relative;}

#CodeToolWrap {position:absolute;}




#CodeInfoView
{
   height:24px; min-height:24px; max-height:24px;
   background:hsla(0,0%,0%,0.15);
}

#CodeInfoPanl
{
   height:24px;
   overflow:hidden;
}

#CodeInfoPanl col
{
   vertical-align:top;
   white-space:nowrap;
   padding-top:2px;
}

.CodeInfoPadn
{min-width:20px;}

#CodeInfoPanl col>div
{
   font-family:'code' !important;
   font-size:16px !important;
   color:hsla(0,0%,60%,1);
   line-height:19px !important;
}

#CodeInfoPanl col>icon
{
   margin-right:4px;
   font-size:16px !important;
   color:hsla(0,0%,60%,1);
   line-height:18px !important;
}

#CodeInfoBufr
{width:20px;}

#CodeInfoRepo
{width:20px;}


.CodeMirror-matchingbracket
{
   text-decoration:none !important;
   border-bottom:1px solid hsla(35,100%,70%,1) !important;
}
