#CodePanlSlab
{
   overflow:hidden;
}

#CodeMainGrid
{
   width:100%, height:100%;
}

#CodeViewGrid
{
   width:100%, height:100%;
}




#CodeTreeView
{
   position:relative !important;
}

#CodeTreePanl
{
   position:absolute !important;
   width:100% !important;
   height:100% !important;
}




#CodeBodyView>col
{
   position:relative
}

#CodeBodyPanl
{
   width:100% !important; height:100% !important;
   position:absolute !important;
   overflow:hidden !important;
}

.CodeGutrView
{
   position:relative;
   width:30px;
   min-width:30px;
   max-width:30px;
   background:hsla(0,0%,0%,0.1);
   border-right: 1px solid hsla(0,0%,0%,0.2);
}

.CodeGutrPanl
{
   position:absolute;
   width:100%; height:100%;
   overflow:hidden;
}

.CodeGutrBase
{
   position:absolute;
   width:30px;
   max-width:30px;
   min-width:30px;
   text-align:right;
}

.CodeGutrTint
{
   min-width:2px;
   position:relative;
}
.CodeGutrTint>div
{
   position:absolute;
   width:2px;
   height:14px;
}
.CodeGutrTint .GC
{background:hsla(5,100%,60%,1);}

.CodeGutrNumr
{
   min-width:28px;
   text-align:right;
}

.CodeGutrNumr>span
{
   display:block;
   height:14px !important;
   font-family:'code' !important;
   font-size:16px !important;
   color:hsla(0,0%,40%,1) !important;
   line-height:14px !important;
   padding-right:4px;
}

.CodeEditHold
{position:relative !important;}

.crntLine
{
   background:hsla(0,0%,100%,0.05);
}

.CodeEditVpad
{
   height:2px;
   min-height:2px;
   max-height:2px;
}

.CodeEditHpad
{
   width:2px;
   min-width:2px;
   max-width:2px;
}

.CodeEditWrap
{
   position:absolute !important;
   width:100% !important; height:100% !important;
   overflow:hidden !important;
}

.CodeEditPanl
{
   position:relative !important;
   width:100% !important; height:100% !important;
   overflow:auto !important;
}

.CodeEditBase
{
   display:block;
   position:absolute;
   box-sizing:border-box;
   /* width:100%; height:100%; */
   margin:0px !important;
   padding:0px !important;
   font-family:'code' !important;
   font-size:16px !important;
   line-height:14px !important;
   background:none !important;
}

.CodeEditDeck
{
   box-sizing:border-box;
   /* width:100%; height:100%; */
   margin:0px !important;
   padding:0px !important;
   font-family:'code' !important;
   font-size:16px !important;
   line-height:14px !important;
   background:none !important;
}

.token.important, .token.bold
{
   font-weight:normal !important;
}

.CodeEditCrsr
{
   position:absolute;
   display:inline-block;
   width:1px; height:12px;
   border-left:1px solid #FFFFFF;
}


.CodeEditBufr
{
   display:block !important;
   position:relative !important;
   box-sizing:border-box;
   width:95%;
   border:none !important;
   border-radius:0px !important;
   outline:none !important;
   background:transparent;
   padding:0px !important;
   margin:0px !important;
   color: hsla(0,0%,100%,0);
   font-family:'code';
   font-size:16px;
   line-height:14px;
   resize:none;
   overflow:hidden;
   white-space:pre;
}

.CodeEditBufr::selection
{
   background:hsla(210,3%,26%,0.85);
   color:#FFF;
}




#CodeToolView
{
   height:0.1px !important;
   background:hsla(0,0%,0%,0.1);
}

#CodeToolView.show {height:60px !important;}
#CodeToolView>col {position:relative;}

#CodeToolWrap {position:absolute;}




#CodeInfoView
{
   height:24px; min-height:24px; max-height:24px;
   background:hsla(0,0%,0%,0.15);
}

#CodeInfoPanl
{
   height:24px;
   overflow:hidden;
}

#CodeInfoPanl col
{
   vertical-align:top;
   white-space:nowrap;
   padding-top:2px;
}

.CodeInfoPadn
{min-width:20px;}

#CodeInfoPanl col>div
{
   font-family:'code' !important;
   font-size:16px !important;
   color:hsla(0,0%,60%,1);
   line-height:19px !important;
}

#CodeInfoPanl col>icon
{
   margin-right:4px;
   font-size:16px !important;
   color:hsla(0,0%,60%,1);
   line-height:18px !important;
}

#CodeInfoBufr
{width:20px;}

#CodeInfoRepo
{width:20px;}
