
# note :: important : read this
# -----------------------------------------------------------------------------------------------------------------------------
# the directives expressed in this file are compatible with shared hosting and crucial to security and Anon framework integrity
# the objective is to provide a fast/solid/stable runtime environment that compliments the designated PHP framework.. elegantly
# ...
# THE METAPHORICAL CHRONICLE
# these are the memoirs of Anon "the legendary server", who lives and dies to serve others and yet always manages to stay alive
# waking up, finding yourself trapped inside dark muddy pit, with only a few options available to survive .. but i won't flinch
# here we are in "the pit" .. we don't even know if we can get out of here, keep calm, let's see if PHP is available, may it be
# -----------------------------------------------------------------------------------------------------------------------------



# conf :: main : primary config for security & compatibility
# -----------------------------------------------------------------------------------------------------------------------------
   Options           -Indexes -Multiviews
   ServerSignature   Off
   DefaultLanguage   en-US
   AddDefaultCharset UTF-8
   # ServerTokens      Prod   # set this in the apache/vhost config .. it won't work here
# -----------------------------------------------------------------------------------------------------------------------------



# head :: security : try these, if some don't work, it's fine, we'll get 'em in PHP
# -----------------------------------------------------------------------------------------------------------------------------
   <IfModule mod_headers.c>
      Header unset Strict-Transport-Security
      Header set Strict-Transport-Security "max-age=0;includeSubDomains"
      Header unset Referrer-Policy
      Header set Referrer-Policy same-origin
      Header unset X-Powered-By
      Header unset Server
   </IfModule>
# -----------------------------------------------------------------------------------------------------------------------------



# cond :: flow : do not cache for long at all .. fresh responses needed
# -----------------------------------------------------------------------------------------------------------------------------
   <IfModule mod_expires.c>
      ExpiresActive On
      ExpiresByType text/html "access plus 1 second"
      ExpiresDefault "access plus 1 second"
   </IfModule>
# -----------------------------------------------------------------------------------------------------------------------------



# cond :: flow : detect Apache 2.4 and detect PHP, if found then redirect all requests to the PHP handler, else die gracefully
# -----------------------------------------------------------------------------------------------------------------------------
   <IfModule mod_rewrite.c>
      RewriteEngine On
      # RewriteBase /

      RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
      RewriteRule ^ %{REQUEST_SCHEME}://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

      RewriteCond %{HTTP_HOST} ([a-z0-9]+)\.
      RewriteRule ^(.*)$ - [E=BASE:%1]

      RewriteRule .* - [E=DBUGPATH:.anon.dir/Proc/base/dbug.htm]
      RewriteRule .* - [E=BOTMATCH:bot|crawl|fetch|find|grab|scan|search|site|slurp|spider|wget|curl]

      <IfModule mod_php.c>
         RewriteRule .* - [E=MODPHP:1]
      </IfModule>
      <IfModule mod_php_null.c>
         RewriteRule .* - [E=MODPHP:1]
      </IfModule>
      <IfModule mod_php.c>
         RewriteRule .* - [E=MODPHP:1]
      </IfModule>
      <IfModule mod_php_x.c>
         RewriteRule .* - [E=MODPHP:1]
      </IfModule>
      <IfModule mod_php7.c>
         RewriteRule .* - [E=MODPHP:1]
      </IfModule>
      <IfModule mod_php5.c>
         RewriteRule .* - [E=MODPHP:1]
      </IfModule>
      <IfModule mod_php4.c>
         RewriteRule .* - [E=MODPHP:1]
      </IfModule>

      <IfModule mod_authz_core.c>
         <If "%{ENV:REDIRECT_MODPHP} =1">
            # php_value expose_php          Off
            # php_value short_open_tag      On
            # php_value display_errors      On
            # php_value max_execution_time  60
            # php_value default_charset     UTF-8
            # php_value allow_url_fopen     On
         </If>

         # RewriteCond %{ENV:MODPHP} ^1$
         RewriteCond %{DOCUMENT_ROOT}/.anon.php -f
         RewriteRule ^(.*)$ .anon.php [L]

         # RewriteCond %{ENV:MODPHP} ^1$
         RewriteCond %{DOCUMENT_ROOT}/%{ENV:BASE}/.anon.php -f
         RewriteRule ^(.*)$ .anon.php [L]
#        we made it out of "the pit" .. now we trudge forward through "the mud"
      </IfModule>

      RewriteCond %{HTTP_USER_AGENT} %{ENV:BOTMATCH} [NC,OR]
      RewriteRule ^ - [R=503,L]

      RewriteCond %{DOCUMENT_ROOT}/%{ENV:DBUGPATH} -f
      RewriteRule ^(.*)$ %{ENV:DBUGPATH} [L]

      RewriteCond %{DOCUMENT_ROOT}/%{ENV:BASE}/%{ENV:DBUGPATH} -f
      RewriteRule ^(.*)$ %{ENV:BASE}/%{ENV:DBUGPATH} [L]

#     ... YOU HAVE DIED ... let's be discreet about it; the world does not need to know our shame
   </IfModule>
# -----------------------------------------------------------------------------------------------------------------------------



# cond :: dbug : YOU HAVE DIED ... we don't want to expose the remains to prying eyes .. our worrior deserves to be buried
# -----------------------------------------------------------------------------------------------------------------------------
   <IfModule !mod_rewrite.c>
      <IfModule mod_authz_core.c>
         Require all denied
      </IfModule>
      <IfModule !mod_authz_core.c>
         Order deny,allow
         Deny from all
      </IfModule>
   </IfModule>
# -----------------------------------------------------------------------------------------------------------------------------
