
/* clan :: butn
/* ----------------------------------------------------------------------------------------------- */
   butn
   {
      display:inline-block; position:relative; box-sizing:border-box;
      min-width:80px;
      background:linear-gradient(0deg, hsla(0,0%,85%,1) 0%, hsla(0,0%,95%,1) 100%);
      padding-left:0.5rem; padding-right:0.5rem; margin:0.5rem;
      text-align:center; font-weight:600; color:hsla(0,0%,20%,1); text-shadow:0px 0px 1px hsla(0,0%,0%,0.3);
      border:1px solid hsla(0,0%,70%,1); border-radius:2px;
      box-shadow:0px 0px 6px hsla(0,0%,50%,0.2);
      cursor:pointer;
   }

   butn:hover
   {
      background:linear-gradient(0deg, hsla(0,0%,90%,1) 0%, hsla(0,0%,100%,1) 100%);
      color:hsla(0,0%,30%,1);
      border:1px solid hsla(0,0%,80%,1);
   }


   butn .butnIcon
   {
      width:10px !important;
      vertical-align:middle !important;
   }
   butn .butnLine
   {
      width:2px; max-width:2px; min-width:2px;
   }
   butn .butnLine>vdiv
   {
      border-left:1px solid hsla(0,0%,0%,0.25); border-right:1px solid hsla(0,0%,100%,0.08);
   }


   butn.Good
   {
      background:linear-gradient(0deg, hsla(220,100%,50%,1) 0%, hsla(220,100%,60%,1) 100%);
      color:hsla(0,0%,95%,1);
      border:1px solid hsla(220,100%,35%,1);
   }

   butn.Good:hover
   {
      background:linear-gradient(0deg, hsla(220,100%,55%,1) 0%, hsla(220,100%,65%,1) 100%);
      color:hsla(0,0%,100%,1);
      border:1px solid hsla(220,100%,45%,1);
   }
/* ----------------------------------------------------------------------------------------------- */




/* clan :: dropMenu
/* ----------------------------------------------------------------------------------------------- */
   .dropMenu
   {
      display:inline-block;
      position:absolute;
      z-index:99999998;
      text-align:left;
      color:#BBB;
      background-color:hsla(210,3%,18%,1);
      border:1px solid #5e6163;
      border-radius:2px;
      box-shadow:0px 0px 12px hsla(0,0%,0%,0.2);
   }

   .dropMenuItem
   {
      min-width:200px;
      padding:2px;
      padding-left:7px;
      font-size:12px;
      line-height:18px;
      cursor:default;
   }
   .dropMenuItem:hover
   {
      background-color:#3e4143;
      color:#EEE;
   }
/* ----------------------------------------------------------------------------------------------- */




/* clan :: tabs
/* ----------------------------------------------------------------------------------------------- */
   tabs
   {
      display:block; box-sizing:border-box; position:relative;
      margin:0px !important;
      padding:0px !important;
   }

   tabs.ctrl
   {
      display:block; box-sizing:border-box; position:relative;
      text-align:right;
      margin-top:1rem;
   }

   tabs.view
   {
      display:block; box-sizing:border-box; position:relative;
      background:#FFFFFF; overflow:auto;
      border:1px solid hsla(0,0%,50%,1);
      margin:0px !important;
      padding:0px !important;
      z-index:1;
   }

   tab
   {
      display:block; box-sizing:border-box; position:relative;
   }

   tab.head
   {
      display:inline-block;
      min-width:16px; min-height:16px;
      cursor:pointer; user-select:none;
      z-index:0;
      margin-bottom:-2px;
      /* margin-left:-2px !important; */
   }

   tab.head.pasv
   {
      z-index:0;
   }

   tab.head.actv
   {
      z-index:1;
   }

   tab.body
   {
      display:none; box-sizing:border-box; position:relative;
      width:100%; height:100%; overflow:hidden;
      margin:0px !important;
      padding:0px !important;
   }


   tabber
   {
      width:100%;
      /* height:100%; */
      display:block; box-sizing:border-box; position:relative;
      margin:0px; padding:0px;
   }

   .tabhdr
   {
      /* width:100%; height:100%; */
      overflow:hidden;
   }

   .tabtgt
   {

   }

   .tabsLite
   {

   }

   .tabdeck
   {
      position:absolute;
      width:100%; height:100%;
   }

   .tabtext
   {
      display:inline-block;
      font-size:12px; line-height:16px;
      padding:6px;
      padding-left:10px;
      padding-right:4px;
      margin-left:10px;
   }



   .tabsDark .tabdeck
   {
      background:hsla(210,3%,16%,1);
      border: 1px solid hsla(210,3%,36%,1);
      border-top: 1.3px solid hsla(210,3%,36%,1);
      border-bottom:none;
      border-radius:3px;
      box-shadow:0px 0px 6px hsla(0,0%,0%,0.6);
   }

   .tabsDark .tabdeck.pasv
   {
      border: 1px solid hsla(210,3%,36%,0.5);
      border-top: 1.3px solid hsla(210,3%,36%,0.5);
      border-bottom:none;
      box-shadow:0px 0px 4px hsla(0,0%,0%,0.4);
   }

   .tabsDark .tabtext.pasv
   {
      color:hsla(0,0%,85%,0.3);
   }

   .tabsDark .tabtext.actv
   {
      color:hsla(0,0%,85%,1);
   }

   .tabsDark icon
   {
      width:11px; height:11px;
      text-align:center; font-size:8px !important; line-height:11px;
      margin-left:12px; margin-right:2px;
   }

   .tabsDark icon.shutEdit
   {
      color:hsla(60,100%,60%,1) !important;
      font-size:9px !important; line-height:11px !important;
   }

   .tabsDark icon:hover
   {
      color:#FFFFFF;
      text-shadow: 0px 0px 3px hsla(0,0%,100%,0.3);
   }
/* ----------------------------------------------------------------------------------------------- */




/* node :: flap
/* ----------------------------------------------------------------------------------------------- */
   flap
   {
      display:block; position:relative;
      box-sizing:border-box;
      cursor:pointer;
   }
   flap>div
   {
      border:1px solid hsla(0,0%,50%,1);
      border-radius:2px;
   }
/* ----------------------------------------------------------------------------------------------- */




/* node :: dropzone
/* ----------------------------------------------------------------------------------------------- */
   dropzone
   {
      display:block; position:relative;
      width:100%; height:100%;
      box-sizing:border-box;
      border:2px dashed hsla(0,0%,50%,1);
      border-radius:10px;
      color:hsla(0,0%,50%,1);
      overflow:hidden;
      opacity:0.6;
   }
   dropzone>div
   {
      position:absolute !important; left:50%; top:50%;
      transform:translate(-50%,-50%);
      text-align:center !important;
   }
/* ----------------------------------------------------------------------------------------------- */




/* Anon :: repo : diff colors
/* ----------------------------------------------------------------------------------------------- */
   .diffXX
   {
      /* eXists eXclusive .. untouched */
   }

   .diffUN
   {
      /* Untracked Natively */
      color:hsla(120,100%,70%,1) !important;
   }

   .diffAN
   {
      /* Added Natively */
      color:hsla(220,100%,70%,1) !important;
   }

   .diffMN
   {
      /* Modified Natively */
      color:hsla(65,75%,60%,1) !important;
   }

   .diffAR
   {
      /* Added Remotely */
      color:hsla(120,100%,70%,1) !important;
   }

   .diffMR
   {
      /* Modified Remotely */
      color:hsla(330,100%,75%,1) !important;
   }

   .diffDR
   {
      /* Deleted Remotely */
      color:hsla(0,0%,45%,1) !important;
   }

   .diffGC
   {
      /* Git Conflict */
      color:hsla(5,100%,60%,1) !important;
   }

   .diffANMR
   {
      /* Modified Natively + Modified Remotely */
      color:hsla(265,100%,65%,1) !important;
   }

   .diffANMN
   {
      /* Added Natively + Modified Natively */
      color:hsla(120,100%,60%,1) !important;
   }
/* ----------------------------------------------------------------------------------------------- */




/* node :: treeview
/* ----------------------------------------------------------------------------------------------- */
   treeview
   {
      display:block;
      position:relative;
      width:100%; height:100%;
      overflow:hidden;
      text-align:left;
      vertical-align:top;
      box-sizing:border-box;
      padding:0px;
      padding-top:4px;
      margin:0px;
      user-select:none;
   }


   treeface
   {
      display:block;
      position:relative;
      text-align:left;
      vertical-align:top;
      box-sizing:border-box;
      padding:0px;
      margin:0px;
      outline:none;
      user-select:none;
   }


   treetwig
   {
      display:block;
      position:relative;
      text-align:left;
      vertical-align:top;
      box-sizing:border-box;
      padding:0px;
      margin:0px;
      outline:none;
      /* text-shadow:0px 0px 1px hsla(0,0%,0%,1), 0px 0px 1px hsla(0,0%,0%,1), 0px 0px 1px hsla(0,0%,0%,1), 0px 0px 2px hsla(0,0%,0%,1), 0px 0px 2px hsla(0,0%,0%,1); */
      text-shadow:0px 0px 1px hsla(0,0%,0%,0.3), 0px 0px 1px hsla(0,0%,0%,0.3), 0px 0px 1px hsla(0,0%,0%,0.3);
      user-select:none;
   }

   .treeTwigArro
   {
      width:12px !important;
      font-size:12px !important;
      text-align:center !important;
      color:inherit !important;
      user-select:none;
      padding-left:4px;
   }

   .treeTwigIcon
   {
      width:16px !important;
      font-size:16px !important;
      padding-left:6px !important;
      padding-right:4px !important;
      color:inherit !important;
      user-select:none;
      -webkit-font-smoothing: antialiased !important;
   }

   .treeTwigText input
   {
      width:100% !important;
      background:transparent !important;
      font-family:'code';
      font-size:16px !important;
      border:none !important;
      color:inherit !important;
      text-shadow:inherit !important;
      user-select:none !important;
      cursor:inherit !important;
      -webkit-font-smoothing: antialiased !important;
   }

   treeTwig.dragOver
   {
      outline:auto !important;
      outline-color:hsla(120,100%,65%,1) !important;
   }

   treefork
   {
      display:block;
      position:relative;
      text-align:left;
      vertical-align:top;
      box-sizing:border-box;
      padding:0px;
      margin:0px;
      display:none;
      user-select:none;
   }
/* ----------------------------------------------------------------------------------------------- */





/* node :: modal
/* ----------------------------------------------------------------------------------------------- */
   modal
   {
      display:block;
      position:fixed;
      z-index:9990;
      top:0px; left:0px;
      width:100%; height:100%;
      vertical-align:top;
      box-sizing:border-box;
      padding:0px;
      margin:0px;
      overflow:hidden;
      background:hsla(0,0%,5%,0.9);
      outline:none;
   }

   modal>wrap>grid
   {
      width:auto !important; height:auto !important;
      background:hsla(0,0%,95%,1);
      border:1px solid hsla(0,0%,50%,1);
      border-radius:2px;
      box-shadow:0px 0px 8px hsla(0,0%,0%,0.5);
   }

   /* modal>wrap>grid>row
   {
      height:100% !important;
   } */

   modal>wrap>grid .head
   {
      height:10px;
      padding:5px;
      font-size:13px; color:hsla(0,0%,20%,1);
      font-weight:bold;
      border-bottom:1px solid hsla(0,0%,85%,1);
      background:hsla(0,0%,93%,1);
   }

   modal>wrap>grid .head>div>icon
   {
      position:absolute; top:5px; right:4px;
      font-size:10px !important; line-height:10px !important;
      color:hsla(0,0%,50%,1);
      cursor:pointer;
   }

   modal>wrap>grid .body
   {
      max-width:900px; max-height:600px;
      color:hsla(0,0%,30%,1);
   }

   modal>wrap>grid .body .info
   {
      padding:4px;
      padding-left:8px;
      font-size:13px; color:hsla(0,0%,20%,1);
      border-right:1px solid hsla(0,0%,85%,1);
   }

   /* modal>wrap>grid .body>grid
   {
      width:100%;
      height:100%;
   } */

   modal>wrap>grid .body .view>panl
   {padding:15px;}
   modal>wrap>grid .body .view>page
   {padding:15px;}

   modal>wrap>grid .body .view h1,h2,h3
   {margin-top:0px;}

   modal>wrap>grid .foot
   {
      height:10px;
      background:hsla(0,0%,93%,1);
      border-top:1px solid hsla(0,0%,85%,1);
      font-size:13px; color:hsla(0,0%,20%,1);
   }

   modal>wrap>grid .foot{padding:5px; text-align:right;}
   modal>wrap>grid .foot .footLeft{text-align:left;}
   modal>wrap>grid .foot .footRait{text-align:right;}


   modal>wrap>grid .side
   {
      width:3px !important; max-width:3px !important; min-width:3px !important;
   }

   modal>wrap>grid .side>div
   {
      display:none;
      background-color:hsla(220,100%,50%,1);
   }

   modal>wrap>grid .body .modlInfoItem>icon
   {font-size:10px !important; margin-right:4px !important}

   modal>wrap>grid .view>page.hide{display:none;}
   modal>wrap>grid .view>panl.hide{display:none;}
   modal>wrap>grid .view>page.show{display:block;}
   modal>wrap>grid .view>panl.show{display:block;}

   .modalBox
   {
      min-width:320px !important;
      min-height:200px !important;
   }
/* ----------------------------------------------------------------------------------------------- */
